#ModalGroups.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} &times;
        %h4.modal-title Groups
      - @groups.each do |group|
        = group.name
        %br
        .modal-footer
          .actions
            %button.btn.btn-info{'data-dismiss' => 'modal', :type => 'button'} Save
            %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Cancel