.modal.fade.group-modal{'aria-hidden' => 'true', 'aria-labelledby' => 'myGroupModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modals', :type => 'button'}
          %span{'aria-hidden' => 'true'} ×
          %span.sr-only Закрити
        %h4.modal-title Групи
      .modal-body
        .well{ style: 'max-height: 300px;overflow: auto;' }
          %ul.list-group.checked-list-box
            - @groups.each do |group|
              - if @sub_groups.include?(group)
                = link_to group_subject_path(group), method: :put, remote: true, data: { id: group.id } do
                  %li.list-group-item{'data-checked' => 'true'}= group.name
              -else
                = link_to group_subject_path(group), method: :put, remote: true, data: { id: group.id } do
                  %li.list-group-item= group.name
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modals', :type => 'button'} Закрити