.container
  .row
    .col-md-12
      %div{style: 'font-size: 50px;'}Предмети
      %table{ id: '#admin-subjects', class: 'table table-bordred table-striped table-hover sortable'}
        %thead
          %th Назва
          %th Скорочена назва
          %th Викладач
          %th{'data-defaultsort'=>'disabled'} Видалити
        %tbody
          - @subjects.each do |subject|
            %tr
              %td= subject.name
              %td= subject.short_name
              %td= subject.user.name
              %td
                = link_to subject_delete_path(subject.id), remote: true do
                  .btn.btn-sm.btn-danger
                    %i.fa.fa-trash