.container

  .row
    Предмети

  .row
    .col-md-12
      %table{ id: '#admin-subjects', class: 'table table-bordred table-striped table-hover sortable'}
        %thead
          %th Назва
          %th Скорочена назва
          %th Викладач
          %th{'data-defaultsort'=>'disabled'} Видалити
        %tbody
          - @subjects.each do |subject|
            %tr
              %td= subject.name
              %td= subject.short_name
              %td= subject.user.name
              %td
                = link_to root_path, remote: true do
                  .btn.btn-sm.btn-danger
                    %i.fa.fa-trash