.container

  .row
    Предмети

  .row
    .col-md-12
      %table{ id: '#mytable1', class: 'table table-bordred table-striped' }
        %thead
          %th Назва
          %th Скорочена назва
          %th Викладач
          %th Видалити
        %tbody
          - @subjects.sort_by{|obj| obj.name}.each do |subject|
            %tr
              %td= subject.name
              %td= subject.short_name
              %td= subject.user.name
              %td
                = link_to root_path, remote: true do
                  .btn.btn-sm.btn-danger
                    %i.fa.fa-trash