.modal-dialog
  .modal-content
    .modal-header
      .modal-title-subj
        Видалення
        = '"' + @sub_file.name + '"'
    .modal-body
      %ul.errors
        Ви дійсно бажаєте видалити
        %b= @sub_file.name
        ?
      .modal-footer
        = link_to 'Так, видалити цей файл', sub_file_path(@sub_file), method: :delete, remote: true, class: 'btn btn-danger'
        = link_to 'Ні, не видаляти', '', class: 'btn', data: { dismiss: 'modal' }