<html>
<head>
</head>
<body>
<b>Коди-запрошення</b><br><br>
Група:
<%= @group.name %><br>
Дата:
<%= DateTime.now.to_date %><br><br>
<table border="0">
  <tr>
    <th width="20%"> # </th>
    <th width="40%">Код</th>
  </tr>
  <%- @n = 0%>
  <% @invite_codes.each do |code| %>
      <tr>
        <td><%= (@n += 1).to_s %></td>
        <td><%= code.token %></td>
      </tr>
  <% end %>
</table>
</body>
</html>