= @subject.name
%a.forget{ 'data-target' => '.group-modal', 'data-toggle' => 'modal', href: 'javascript:;' } Groups
= render 'subjects/modals/groups'

%a.forget{ 'data-target' => '.folder-modal', 'data-toggle' => 'modal', href: 'javascript:;' } New folder
= render 'items/new_folder'

.container
  .row
    .col-md-12
      .table-responsive
        = render 'subjects/modals/content'
