.modal-dialog
  .modal-content
    .modal-header
      .modal-title-subj
        Видалення
        = '  "' + @group.name + '"'
    .modal-body
      %ul.errors
        Ви впевнені, що бажаєте видалити
        %b= @group.name
        ?
      .modal-footer
        = link_to 'Так, видалити цю групу', group_path(@group), method: :delete, remote: true, class: 'btn btn-danger'
        = link_to 'Ні, не видаляти', '', class: 'btn', data: { dismiss: 'modals' }