.modal-dialog
  .modal-content
    .modal-header
      %button.close{'data-dismiss' => 'modals', :type => 'button'}
        %span{'aria-hidden' => 'true'} ×
        %span.sr-only Закрити
      %h4.modal-title{style: 'float:left'} Invite-коди
      %h4.modal-title{style: 'color: #f0ad4e'}= '"' + @group.name + '"'
    .modal-body{style: 'font-size: 20px'}
      - n = 0
      - @invite_codes.each do |code|
        = (n += 1).to_s + '. '
        = code.token
        %br
    .modal-footer
      .btn.btn-subj= link_to 'Зберегти в .DOC', groups_export_path(format: "doc", group_id: @group.id), method: :post