.container

  %a.btn.btn-subj Invite-коди

  .row
    .col-md-12
      %table{ id: '#mytable1', class: 'table table-bordred table-striped' }
        %thead
          %th Повне імя
          %th Логін
          %th Видалити
        %tbody
          - @teachers.each do |user|
            = link_to user_path(user.id) do
              %tr
                %td= user.full_name
                %td= link_to user.name
                %td
                  = link_to root_path, remote: true do
                    .btn.btn-sm.btn-danger
                      %i.fa.fa-trash