.modal-dialog
  .modal-content
    .modal-header
      .modal-title-subj
        Delete
        = '"' + @folder.name + '"'
    .modal-body
      %ul.errors
        Are you sure you wish to delete
        %b= @folder.name
        ?
      .modal-footer
        = link_to 'Yes, delete this folder', folder_path(@folder), method: :delete, remote: true, class: 'btn btn-danger'
        = link_to 'No, please dont', '', class: 'btn', data: { dismiss: 'modal' }