.modal-dialog
  .modal-content
    .modal-header
      %h3 Delete Item
    .modal-body
      %ul.errors
        Are you sure you wish to delete
        %b= @folder.name
        ?
      .modal-footer
        = link_to 'Yes, Delete This Item', folder_path(@folder), method: :delete, remote: true, class: 'btn btn-danger'
        = link_to 'No, Please Dont', '', class: 'btn', data: { dismiss: 'modal' }