.container
  = @sub_file.name
  #main_area
    .row
      #slider.col-xs-12
        .row
          #carousel-bounding-box.col-sm-8
            #myCarousel.carousel.slide
              .carousel-inner
                - @slides.sort.each_with_index do |slide, index|
                  - if index == 0
                    .active.item{'data-slide-number' => '0'}
                      %img{src: slide.to_s}
                  - else
                    .item{'data-slide-number' => '0'}
                      %img{src: slide.to_s}
              %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
                %span.glyphicon.glyphicon-chevron-left.fa.fa-chevron-circle-left
              %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
                %span.glyphicon.glyphicon-chevron-left.fa.fa-chevron-circle-right
          #carousel-text.col-sm-4
    / /Slider
    #slider-thumbs.row.hidden-xs
      %ul.hide-bullets
        %li.col-sm-2
          %a#carousel-selector-0.thumbnail
            %img{src: @slides.sort[0]}/
        %li.col-sm-2
          %a#carousel-selector-1.thumbnail
            %img{src: @slides.sort[1]}/
        %li.col-sm-2
          %a#carousel-selector-2.thumbnail
            %img{src: @slides.sort[2]}/
        %li.col-sm-2
          %a#carousel-selector-3.thumbnail
            %img{src: @slides.sort[3]}/
        %li.col-sm-2
          %a#carousel-selector-4.thumbnail
            %img{src: @slides.sort[4]}/
        %li.col-sm-2
          %a#carousel-selector-5.thumbnail
            %img{src: @slides.sort[5]}/